.center{text-align:center}
.right{text-align:right}
.header{border-bottom:5px solid #ccc}
.header p{font-size:0.75em;text-transform:uppercase;letter-spacing:0.2em;margin:0}
.footer{font-size:0.9em;border-top:1px solid #ccc}
.footer p{margin-top:1em}
#navbar_top{background-color:#1D1D1D;}
.navbar_top_size{height:50px;}
.navbar .nav > li > a {
	text-shadow: none;
}
