@font-face {
	font-family: "Open Sans Light";
	font-style: normal;
	font-weight: normal;
	src: url("fonts/OpenSans-Light-webfont.eot") format("embedded-opentype"), url("fonts/OpenSans-Light-webfont.woff") format("woff"), url("fonts/OpenSans-Light-webfont.ttf") format("truetype");
}


body{ font-size:16px;
	font-family: "Open Sans Light",Verdana,Arial,sans-serif;
	line-height:1.5;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	color:white;
	/*background:red;*/
	background-image: url("../images/bg.jpg");
}
a{color:white;}
a:hover{color:grey;text-decoration:none;}
.menu
{
	padding-left:5%;
	padding-top:5%;
}
.menu ul li{
	list-style-type:none;
	line-height:50px;
	font-size:24px;
}
.license {
    font-size: 12px;
    margin-top: 50px;
}
.license img {
    width: 80px;
}
